p1.header {
    color: brown;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

a {
    color: brown;
}
p {
    color: brown;
}
.brown {
    color: brown;
}
p.inicio {
    position: relative;
    text-align: left;
}

p.medio {
  position: relative;  
  text-align: center;
}

p.final {
    position: relative;
    text-align: right;
} 