p1.header {
    color: brown;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

h1 {
    text-align: center;
     color: maroon;
 }
 
 p {
     color: brown;
 }
 
 div {
     background-color: bisque;
     width: 1570px;
     height: 750px;
 } */





 h1 {
    text-align: center;
    color: maroon;
}

div.fondo {
    background-color: bisque;
    width: 1570px;
    height: 750px;
}

a {
    color: brown;
}

p.inicio {
    position: relative;
    text-align: left;
}

p.medio {
  position: relative;  
  text-align: center;
}

p.final {
    position: relative;
    text-align: right;
} 



h1 {
    text-align: center;
    color: maroon;
}


div.fondo {
    background-color: bisque;
    width: 1570px;
    height: 750px;
}

p {
    color: brown;
} 

div {
    background-color: bisque;
    width: 1570px;
    height: 750px;
}

a {
    color: brown;
}